A:link {
	COLOR: #0000ff
}
A:visited {
	COLOR: #0000ff
}
A:active {
	COLOR: #0000ff
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
H1 {
	COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 20pt
}
H2 {
	COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 15pt
}
H3 {
	COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12pt
}
H4 {
	COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11pt; FONT-STYLE: italic
}
H5 {
	COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt
}
H6 {
	COLOR: #006666; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
NORMAL {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; MARGIN-LEFT: 0pt; MARGIN-TOP: 0pt
}
BODY {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; MARGIN-LEFT: 0pt; MARGIN-TOP: 0pt
}
P.certificate {
	FONT-FAMILY: Courier New, Courier,monospace; FONT-SIZE: 12pt; MARGIN-LEFT: 5%; MARGIN-RIGHT: 5%; TEXT-ALIGN: left; WORD-SPACING: 8pt
}
.small {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; MARGIN-LEFT: 0pt; MARGIN-TOP: 0pt
}
.biggreen {
	COLOR: #006600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11pt; MARGIN-LEFT: 0pt; MARGIN-TOP: 0pt
}
.h6 {
	COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.h5 {
	COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.h1 {
	COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 20pt; FONT-WEIGHT: bold
}
.h2 {
	COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 15pt; FONT-WEIGHT: bold
}
.norm {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; MARGIN-LEFT: 0pt; MARGIN-TOP: 0pt
}
.green {
	COLOR: #006600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; MARGIN-LEFT: 0pt; MARGIN-TOP: 0pt
}
.red {
	COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; MARGIN-LEFT: 0pt; MARGIN-TOP: 0pt
}
.greenback {
	BACKGROUND-COLOR: #99ff99
}
.blueback {
	BACKGROUND-COLOR: #ccccff
}
.whiteback {
	BACKGROUND-COLOR: white
}
P {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; MARGIN-LEFT: 0pt; MARGIN-TOP: 0pt
}
BLOCKQUOTE.body {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; MARGIN-BOTTOM: 0pt; MARGIN-LEFT: 0pt; MARGIN-TOP: 0pt; TEXT-INDENT: 10px
}
TABLE {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; MARGIN-LEFT: 0pt; MARGIN-TOP: 0pt
}
TD {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; MARGIN-LEFT: 0pt; MARGIN-TOP: 0pt
}
UL {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt
}
LI {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt
}
HR {
	COLOR: #009900; LINE-HEIGHT: 1px
}
.mandatory {
	COLOR: red
}
.red {
	COLOR: red
}
.blue {
	COLOR: blue
}
